<%- include("header") -%>

<div class="wrapper-wrapper">
  <div class="wrapper">
    <section class="flex-item" id="heading">
      <h1>Find every possible meaning</h1>
    </section>
    <form class="flex-item" action="/" method="post">
      <input class="input-bar" type="text" name="word" value="" placeholder="Enter a word">
      <button class="button btn" type="submit" name="button">Submit</button>
    </form>
  </div>
  <div class="footer">
    <span class="name-text">© Yash Bijoor</span>
  </div>
</div>

<%- include("footer") -%>
